#body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1d2b64, #f8cdda);
    color: white;
    height: 100vh;


}
.container{ 
    background-color: #2c3e50;
    border: 2px solid #000;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 480px;
    margin-right: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#heading{
    padding: 0%;
    margin: 0;
    font-size: 60px;
    color: #ecf0f1;
    padding-bottom: 20px;

}
#screen{
    margin-top: 0%  ;
    padding-top: 0%;
    background: #ecf0f1;
    border: 1px solid #ddd;
    font-size: 1.5em;
    width: 460px;
    height: 50px;
    text-shadow: 1cap;  
    text-align: right; 
    border-radius: 1cap;
    color: #2c3e50;

}
#res{
    width: 460px;
    height: 50px;
    background: #ecf0f1;
    border: 3px solid gray;
    margin-top: 0.7%;
    text-align: left;
    text-align-last: right;
    font-size: 30px;
    color: #2c3e50;
    border-radius: 1cap;
}
.but{
    display: grid;
    justify-content: space-center;
    grid-template-columns: 108px 108px 108px 112px;
    align-items: center;
    padding-left: 48px;
    gap:5px;
    padding-top: 17px;
    cursor: pointer;
}
.buttons{
    border-radius: 1cap;
    gap: 5px;
    font-size: 40px;
    padding: 10%;
    background-color: rgb(240, 240, 240);
    border: 3px solid rgb(192, 192, 192);
    transition: background-color 0.3s, transform 0.2s;
}
.buttons:hover {
    background-color: #dcdcdc;
}

.buttons:active {
    transform: scale(0.95);
}
#spl{
    background-color: rgb(221, 87, 87);
}
#operators{
    background-color: rgb(237, 237, 20);
}